<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Movie Recommender System</title>
</head>
<body>
    <h1>Movie Recommender System</h1>
    <form action="/" method="post">
        <label for="movie_name">Type in a movie</label><br>
        <input type="text" id="movie_name" name="movie_name" autocomplete="off">
        <div id="suggestions"></div><br>
        <input type="submit" value="Show Recommendations">
    </form>
    {% if movie_names %}
        <ul class="recommended-movies">
            <h2>Similar movies to: {{ name }}</h2>
            {% for i in range(movie_names|length) %}
                <li>
                    <h2>{{ movie_names[i] }}</h2>
                    <img src="{{ image_links[i] }}" alt="{{ movie_names[i] }}" width="200">
                </li>
            {% endfor %}
        </ul>
    {% else %}
        {% if search_performed %}
            <p>Movie not found (Try searching with exact name)</p>
        {% endif %}
    {% endif %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="script.js"></script>    
</body>
</html>